<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-1 border-radius-xl my-3 fixed-start ms-4 " style="z-index: 1 !important;" id="sidenav-main">
 <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Pacientes"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-row-reverse">
                <a
                  class="btn btn-success text-white btn-xs"
                  [routerLink]="['/hc', paciente]"
                  target="_blank"
                  [hidden]="btnHistoriaHidden"
                >
                  <i class="fas fa-file-medical text-white"></i> HC
                </a>
                <a
                  class="btn btn-danger text-white btn-xs mx-2"
                  [hidden]="btnActualizarHidden"
                  (click)="actualizarPaciente()"  
                >
                  <i class="fas fa-pen text-white"></i> Actualizar
                </a>
                <button
                  class="btn btn-primary text-white btn-xs mx-1"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  [hidden]="btnAgregarHidden"
                  [disabled]="crearPacienteForm.invalid"
                  (click)="crearPaciente()"
                >
                  <i class="fas fa-database text-white"></i> Crear
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <p-table
                  #pacientes
                  [rows]="3"
                  [value]="getPaciente"
                  [paginator]="true"
                  [globalFilterFields]="['documento', 'getPaciente.documento', 'apellido', 'getPaciente.apellido', 'nombre', 'getPaciente.nombre']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                  [showCurrentPageReport]="true"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input 
                        pInputText 
                        type="text"
                        class="form-control"
                        (input)="pacientes.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-xs text-white bg-default"></th>
                    <th pSortableColumn="docuemento" class="text-xs text-white bg-default" style="width:27%">PACIENTE</th>
                    <th class="text-xs text-white bg-default">TELEFONO</th>
                    <th class="text-xs text-white bg-default">FECHA NACIMIENTO</th>
                    <th class="text-xs text-white bg-default">SEXO</th>
                    <th class="text-xs text-white bg-default">ESTADO CIVIL</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pacientes>
                  <tr [pSelectableRow]="pacientes">
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadioDefault"
                          id="flexRadioDefault1"
                          (change)="getPacientesId(pacientes.documento)"
                        >
                      </div>
                    </td>
                    <td *ngIf="pacientes.sexo == 'M'">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://radiarte.com/application/files/6917/0923/2244/depositphotos_134255588-stock-illustration-empty-photo-of-male-profile.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase"> {{ pacientes.nombre + ' ' + pacientes.apellido }}</p>
                          <p class="text-xs text-secondary mb-0 text-uppercase">{{ pacientes.documento }}</p>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="pacientes.sexo == 'F'">
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://us.123rf.com/450wm/photoplotnikov/photoplotnikov1703/photoplotnikov170300055/74046195-icono-de-imagen-de-perfil-de-avatar-femenino-predeterminado-placeholder-de-la-foto-de-la-mujer-gris-.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase"> {{ pacientes.nombre + ' ' + pacientes.apellido }}</p>
                          <p class="text-xs text-secondary mb-0 text-uppercase">{{ pacientes.documento }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">{{ pacientes.telefono }}</td>
                    <td class="text-xs text-uppercase">{{ pacientes.fecha_nacimiento}}</td>
                    <td class="text-xs text-uppercase">{{ pacientes.sexo }}</td>
                    <td class="text-xs text-uppercase">{{ pacientes.estado_civil }}</td>
                  </tr>
                </ng-template>
               </p-table>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <h6>Datos de los Pacientes</h6>
          </div>
          <form [formGroup]="crearPacienteForm">
          <div class="row">
            <div class="col-md-2">
              <label>DNI *</label>
              <div class="input-group">
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_dni"
                (keyup.enter)="getPacienteApiPeru()"
              >
              <button class="btn btn-primary btn-xs" type="button">
                <i class="fas fa-fingerprint"></i>
              </button>
              <div
               class="error"
               *ngIf="dniControl.invalid && (dniControl.touched || dniControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            </div>
            <div class="col-md-4">
              <label>Apellidos *</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_apellido"
              >
              <div
                class="error"
                *ngIf="apellidosControl.invalid && (apellidosControl.touched || apellidosControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <label>Nombres *</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_nombre"
              >
              <div
                class="error"
                *ngIf="nombresControl.invalid && (nombresControl.touched || nombresControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <label>HC *</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_hc"
              >
              <div
                class="error"
                *ngIf="hcControl.invalid && (hcControl.touched || hcControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-3">
              <label>Celular </label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_celular"
              >
            </div>
            <div class="col-md-2">
              <label>Sexo *</label>
              <select
                class="form-control form-control-sm text-uppercase"
                formControlName="crearpaciente_sexo"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let sexo of getSexs"
                  [value]="sexo.codigo"
                >
                  {{ sexo.descripcion }}
                </option>
              </select>
              <div
                class="error"
                *ngIf="sexoControl.invalid && (sexoControl.touched || sexoControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-2">
              <label>Fecha de Nacimiento *</label>
              <input
                type="date"
                class="form-control form-control-sm"
                formControlName="crearpaciente_fechanacimiento"
              >
              <div
                class="error"
                *ngIf="nacimientoControl.invalid && (nacimientoControl.touched || nacimientoControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-1">
              <label>Edad</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_edad"
              >
            </div>
            <div class="col-md-4">
              <label>Direcciòn *</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_direccion"
              >
              <div
                class="error"
                *ngIf="direccionControl.invalid && (direccionControl.touched || direccionControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>Departamento *</label>
              <select
                class="form-control form-control-sm text-uppercase"
                formControlName="crearpaciente_departamento"
                (change)="getProvince()"
              >
                <option value="">SELECCIONE UNA OPCION</option>
                <option
                  *ngFor="let departamento of getDepartament"
                  [value]="departamento.id"
                  >
                  {{ departamento.name }}

                </option>
              </select>
              <div
                class="error"
                *ngIf="departamentoControl.invalid && (departamentoControl.touched || departamentoControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <label>Provincia *</label>
              <select
                class="form-control form-control-sm text-uppercase"
                formControlName="crearpaciente_provincia"
                (change)="getDistrict()"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let provincia of getProvinces"
                  [value]="provincia.id"
                >
                  {{ provincia.name }}
              </option>
              </select>
              <div
                class="error"
                *ngIf="provinciaControl.invalid && (provinciaControl.touched || provinciaControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <label>Distrito *</label>
              <select
                class="form-control form-control-sm text-uppercase"
                formControlName="crearpaciente_distrito"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let distrito of getDistricto"
                  [value]="distrito.id"
                >
                  {{ distrito.name }}
                </option>
              </select>
              <div
                class="error"
                *ngIf="distritoControl.invalid && (distritoControl.touched || distritoControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>Ocupaciòn</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_ocupacion"
              >
            </div>
            <div class="col-md-4">
              <label>Grado Academico *</label>
              <select
                class="form-control form-control-sm text-uppercase"
                formControlName="crearpaciente_grado"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let academico of getAcademic"
                  [value]="academico.codigo"
                  >
                  {{ academico.descripcion }}

                </option>
              </select>
              <div
                class="error"
                *ngIf="academicoControl.invalid && (academicoControl.touched || academicoControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <label>Estado Civil *</label>
              <select
                class="form-control form-control-sm text-uppercase"
                formControlName="crearpaciente_estadocivil"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let estado of getCivilStatu"
                  [value]="estado.codigo"
                >
                  {{ estado.descripcion }}
              </option>
              </select>
              <div
                class="error"
                *ngIf="civilControl.invalid && (civilControl.touched || civilControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <h6>¿Es menor de edad ?</h6>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  formControlName="crearpaciente_esmenor"
                >
                <label class="form-check-label" for="flexSwitchCheckChecked">Si</label>
              </div>
            </div>
            <div class="row mt-1" [hidden]="containerResponsable">
              <div class="col-md-3">
                <label>Documento</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_documentores"
                >
              </div>
              <div class="col-md-4">
                <label>Nombre Responsable</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_responsable"
                >
              </div>
              <div class="col-md-2">
                <label>Telefono</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_telefonores"
                >
              </div>
              <div class="col-md-3">
                <label>Parentesco</label>
                <select
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_parentescores"
                >
                <option value="">Seleccione una opcion</option>
              </select>
              </div>
            </div>
          </div>
          <br>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="spinner" class="overlay z-index">
    <div class="dot-wave">
      <div class="dot-wave__dot"></div>
      <div class="dot-wave__dot"></div>
      <div class="dot-wave__dot"></div>
      <div class="dot-wave__dot"></div>
    </div>
  </div>


