
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside style="z-index: 1 !important;" class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Admision"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-row-reverse">
                <button
                  class="btn btn-primary text-white btn-xs mx-1"
                  (click)="createAdmission()"
                  [disabled]="admisionForm.invalid || admisionForm2.invalid"
                >
                  <i class="fas fa-database text-white"></i> Crear
                </button>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <p-table
                  #admisiones
                  [value]="getAdmissions"
                  [rows]="5"
                  [paginator]="true"
                  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="admisiones.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th  class="text-xs text-white bg-default" style="width:8%"></th>
                    <th  class="text-xs text-white bg-default" style="width:18%">PACIENTE</th>
                    <th  class="text-xs text-white bg-default" style="width:6%">ESTADO</th>
                    <th  class="text-xs text-white bg-default" style="width:10%">DOCTOR</th>
                    <th  class="text-xs text-white bg-default" style="width:10%">ESPECIALIDAD</th>
                    <th  class="text-xs text-white bg-default" style="width:8%">COSTO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getAdmissions>
                  <tr>
                    <td>
                      <a
                        class="badge bg-success"
                        (click)="PasateStatusAdmission(getAdmissions.paciente)"
                      >
                        <i class="fas fa-check fa-xs text-white"></i>
                      </a>
                      <a
                        class="badge bg-primary mx-1"
                        (click)="pdfFacturaAdmision(getAdmissions.codigo_atencion)"
                      >
                        <i class="fas fa-file-pdf fa-xs text-white"></i>
                      </a>
                      <a
                        class="badge  bg-danger mx-1"
                        (click)="CancelarAdmision(getAdmissions.paciente)"
                      >
                        <i class="fas fa-times fa-xs text-white"></i>
                      </a>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://radiarte.com/application/files/6917/0923/2244/depositphotos_134255588-stock-illustration-empty-photo-of-male-profile.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase">{{ getAdmissions.nombre + ' ' + getAdmissions.apellido }}</p>
                          <p class="text-xs text-secondary mb-0 text-uppercase">{{ getAdmissions.paciente }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">
                      <span class="badge badge-sm badge-success">{{ getAdmissions.estado }}</span>
                    </td>
                    <td class="text-xs text-uppercase">{{ getAdmissions.medicos }}</td>
                    <td class="text-xs text-uppercase">{{ getAdmissions.especialidades }}</td>
                    <td class="text-xs text-uppercase">{{ getAdmissions.costo }}</td>
                  </tr>
                </ng-template>
               </p-table>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <h6>Datos del Paciente</h6>
            <form [formGroup]="admisionForm">
              <div class="row mt-2">
               <div class="row">
                <div class="col-md-4">
                  <label>DNI *</label>
                  <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="dni_admision"
                    (keyup.enter)="getPacientesId()"
                  >
                  <button class="btn btn-primary btn-xs" type="button">
                    <i class="fas fa-fingerprint"></i>
                  </button>
                 </div>
                </div>
                <div class="col-md-4">
                  <label>N° HC *</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="hc_admision"
                  >
                </div>
                <div class="col-md-4">
                  <label>¿lista de espera?</label> <br>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckChecked"
                      formControlName="si_admision"
                    >
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  <label>Nombre Completo *</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="nombre_admision"
                  >
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label>Especialidad *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    formControlName="especialidad_admision"
                    (change)="getEspecialidadCosto()"
                  >
                    <option value="">Seleccione una opcion</option>
                    <option
                      *ngFor="let especialidad of getSpecialty"
                      [value]="especialidad.codigo_especialidad"
                    >
                      {{ especialidad.descripcion }}
                    </option>
                  </select>
                  <div
                class="error"
                *ngIf="especialidadControl.invalid && (especialidadControl.touched || especialidadControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
                </div>
                <div class="col-md-6">
                  <label>Doctor *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    formControlName="doctor_admision"
                  >
                    <option value="">Seleccione una opcion</option>
                    <option
                      *ngFor="let doctor of getDoctors"
                      [value]="doctor.codigo_doctor"
                    >
                      {{ doctor.nombre }}
                    </option>
                </select>
                <div
                class="error"
                *ngIf="doctorControl.invalid && (doctorControl.touched || doctorControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
                </div>
              </div>
            </div>
          </form>
          </div>

          <div class="col-md-6">
            <h6>Datos de la Factura</h6>
            <form [formGroup]="admisionForm2">
              <div class="row">
                <div class="col-md-6">
                  <label>Fecha *</label>
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    formControlName="fecha_admision"
                  >
                </div>
                <div class="col-md-6">
                  <label>No Factura</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="factura_admision"
                  >
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <label>Costo *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="costo_admision"
                  >
                </div>
                <div class="col-md-4">
                  <label>Descuento</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="descuento_admision"
                  >
                </div>
                <div class="col-md-4">
                  <label>Comision *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="comision_admision"
                  >
                  <div
                class="error"
                *ngIf="comisionControl.invalid && (comisionControl.touched || comisionControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4">
                  <label>Cantidad recibida *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="recibida_admision"
                    (blur)="calcularDevolucion()"
                  >
                  <div
                    class="error"
                    *ngIf="cantidadControl.invalid && (cantidadControl.touched || cantidadControl.dirty)"
                  >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
                </div>
                <div class="col-md-4">
                  <label>Cantidad a Devolver</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="devolver_admision"
                  >

                </div>
                <div class="col-md-4">
                  <label>Forma de pago *</label>
                  <select
                    class="form-control form-control-sm"
                    formControlName="efectivo_admision"
                  >
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                  </select>
                </div>
              </div>
            </form>
            </div>
          </div>
          <form [formGroup]="totalform">
            <div class="row mt-3">
              <div class="col-md-2 offset-md-7">
                <h5 class="text-center">TOTAL</h5>
              </div>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="total"
                >
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="spinner" class="overlay z-index">
    <div class="dot-wave">
      <div class="dot-wave__dot"></div>
      <div class="dot-wave__dot"></div>
      <div class="dot-wave__dot"></div>
      <div class="dot-wave__dot"></div>
    </div>
  </div>

  <div class="card flex justify-content-center">
    <p-toast />
    <p-confirmDialog
      rejectLabel="No"
      acceptLabel="Si"
    >
        <ng-template pTemplate="message" let-message>
            <div class="flex text-center flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                <i class="fas fa-exclamation-circle text-6xl text-primary"></i>
                <p>{{ message.message }}</p>
            </div>
        </ng-template>
    </p-confirmDialog>
  </div>
