<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!--
<p-toast position="top-right"/>
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside style="z-index: 1 !important;" class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>

<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Doctores"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Crear doctor
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                  Configuracion doctor
                </button>
                <p-table
                #doctores
                [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['nombre', 'getInventorie.nombre', 'representative.name', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }"
                [rowHover]="true"
                dataKey="id"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
              >
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      class="form-control"
                      (input)="doctores.filterGlobal($any($event.target).value, 'contains')"
                      placeholder="Buscar..."
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">OPCIONES</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">CMP</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">NOMBRE</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">CORREO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">TELEFONO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">PERFIL</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-getInventorie>

              </ng-template>
             </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Modal crar doctor -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">CREAR DOCTOR</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="crearForm">
          <div class="row">
            <div class="col-md-4">
              <label>DOCUMENTO</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crear_documento"
              >
            </div>
            <div class="col-md-4">
              <label>NOMBRE COMPLETO</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crear_nombre"
              >
            </div>
            <div class="col-md-4">
              <label>PERFIL</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crear_perfil"
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>TELEFONO</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crear_telefono"
              >
            </div>
            <div class="col-md-6">
              <label>DIRECCION</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crear_direccion"
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>CORREO ELECTRONICO</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formArrayName="crear_correo"
              >
            </div>
            <div class="col-md-6">
              <label>FOTO DEL DOCTOR</label>
              <input
                type="file"
                class="form-control form-control-sm"
                formControlName="crear_foto"
              >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
        <button type="button" class="btn btn-primary">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal configuracion doctor -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">CONFIGURACION DOCTOR</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <label>DOCUMENTO CPE</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="config_documento"
                    >
                  </div>
                  <div class="col-md-7">
                    <label>NOMBRE COMPLETO</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="config_nombre"
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <label>TELEFONO</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="config_telefono"
                    >
                  </div>
                  <div class="col-md-7">
                    <label>DIRECCION</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="config_direccion"
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <label>CORREO ELECTRONICO</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="config_correo"
                    >
                  </div>
                  <div class="col-md-5">
                    <label>PERFIL</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="config_perfil"
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <h6>DIAS LABORABLES</h6>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>TODOS LOS DIAS</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_todos"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>LUNES</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_lunes"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>MARTES</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_martes"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>MIERCOLES</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_miercoles"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>JUEVES</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_jueves"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>VIERNES</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_viernes"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>SABADO</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_sabado"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <input
                        type="checkbox"
                      >
                      <label>DOMINGO</label>
                    </div>
                    <div class="col-md-7">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="config_domingo"
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
        <button type="button" class="btn btn-primary">GUARDAR</button>
      </div>
    </div>
  </div>
</div>

