<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Triage"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row">
      <div class="card">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="table-responsive">
                <p-table
                  #triage
                  [rows]="10"
                  [value]="getTriage"
                  [paginator]="true"
                  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="triage.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-xs text-white bg-default" style="width:1%"></th>
                    <th class="text-xs text-white bg-default" style="width:10%">PACIENTE</th>
                      <th class="text-xs text-white bg-default" style="width:5%">ESTADO</th>
                      <th class="text-xs text-white bg-default" style="width:10%">DOCTOR</th>
                      <th class="text-xs text-white bg-default" style="width:10%">ESPECIALIDAD</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getTriage>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadioDefault"
                          id="flexRadioDefault1"
                          (change)="PasarValoresTriage(getTriage.paciente,getTriage.nombre + ' ' + getTriage.apellido, getTriage.medico, getTriage.especialidad)"
                        >
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase">{{ getTriage.nombre + ' ' + getTriage.apellido }}</p>
                          <p class="text-xs text-secondary mb-0 text-uppercase">{{ getTriage.paciente }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">
                      <span class="badge badge-sm badge-info">{{ getTriage.estado }}</span> 
                    </td>
                    <td class="text-xs text-uppercase"> {{ getTriage.medicos }} </td>
                    <td class="text-xs text-uppercase"> {{ getTriage.especialidades }} </td>
                   
                  </tr>
                </ng-template>
               </p-table>
              </div>
            </div>
            <div class="col-md-5">
              <form [formGroup]="triageForm">
              <div class="row mt-2">
                <div class="col-md-5">
                  <label>DNI *</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="dni_triage"
                  >
                </div>
                <div class="col-md-7">
                  <label>Paciente *</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="paciente_triage"
                  >
                </div>
              </div>
                <div class="row mt-1">
                  <div class="col-md-3">
                    <label>Edad</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="edad_triage"
                    >
                  </div>
                  <div class="col-md-9">
                    <label>Doctor *</label>
                    <select
                      class="form-control form-control-sm text-uppercase"
                      formControlName="doctor_triage"
                    >
                      <option value="">Seleccione una opcion</option>
                      <option
                        *ngFor="let doctor of getDoctors"
                        [value]="doctor.codigo_doctor"
                      >
                        {{ doctor.nombre}}
                      </option>
                      
                    </select>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-7">
                    <label>Especialidad *</label>
                    <select
                      class="form-control form-control-sm text-uppercase"
                      formControlName="especialidad_triage"
                    >
                      <option value="">Seleccione una opcion</option>
                      <option
                        *ngFor="let especialidad of getSpeciality"
                        [value]="especialidad.codigo_especialidad"
                      >
                        {{ especialidad.descripcion }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-5">
                    <label>Presion arterial(mmHg)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="presion_triage"
                    >
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-6">
                    <label>Temperatura (C)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="temperatura_triage"
                    >
                  </div>
                  <div class="col-md-6">
                    <label>Frecuencia Respiratoria</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="frecuenciar_triage"
                    >
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-6">
                    <label>Frecuencia cardiaca</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="frecuenciac_triage"
                    >
                  </div>
                  <div class="col-md-6">
                    <label>Saturaciòn O2</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="saturacion_triage"
                    >
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-6">
                    <label>Peso (kg)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="peso_triage"
                    >
                  </div>
                  <div class="col-md-6">
                    <label>Talla (cm)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="talla_triage"
                    >
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-6">
                    <label>Imc</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="imc_triage"
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button
                      class="btn btn-primary text-white btn-xs mx-1 mt-3"
                      [disabled]="triageForm.invalid"
                      (click)="createTriage()"
                    >
                      <i class="fas fa-database text-white"></i> Guardar
                    </button>
                    <button
                      class="btn btn-danger text-white btn-xs mx-1 mt-3"
                      [hidden]="siguienteTriage"
                      (click)="PasateStatusAdmission()"
                    >
                      Siguiente <i class="fas fa-chevron-right text-white"></i> 
                    </button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
