<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="card h-100 mb-4">
        <div class="card-header pb-0 px-3">
          <div class="row">
            <div class="col-md-6">
              <h6 class="mb-0">Clientes en Atención</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
            <i class="fas fa-calendar-alt me-2"></i>
            <small>12 de  Octubre 2024</small>
          </div>
        </div>
       </div>
       <div class="card-body pt-4 p-3">
         <ul class="list-group">
           <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
             <div class="d-flex align-items-center">
               <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
            <div class="d-flex flex-column">
               <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
               <span class="text-xs">Salon de cirugia</span>
              </div>
            </div>
            <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
              MTP256
            </div>
           </li>
           <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex align-items-center">
              <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
           <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">Jerson Galvez Ensuncho</h6>
              <span class="text-xs">Salon de cirugia</span>
             </div>
           </div>
           <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
             MTP256
           </div>
          </li>
         </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="bg-dark text-white">
            <th>TURNO</th>
            <th>ESTADO</th>
            <th>MODULO</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center text-bold">
            <td class="text-danger">MTP256</td>
            <td>PENDIENTE</td>
            <td>5</td>
          </tr>
          <tr class="text-center text-bold">
            <td>MTP256</td>
            <td>PENDIENTE</td>
            <td>5</td>
          </tr>
          <tr class="text-center text-bold">
            <td>MTP256</td>
            <td>PENDIENTE</td>
            <td>5</td>
          </tr>
          <tr class="text-center text-bold">
            <td>MTP256</td>
            <td>PENDIENTE</td>
            <td>5</td>
          </tr>
          <tr class="text-center text-bold">
            <td>MTP256</td>
            <td>PENDIENTE</td>
            <td>5</td>
          </tr>
          <tr class="text-center text-bold">
            <td>MTP256</td>
            <td>PENDIENTE</td>
            <td>5</td>
          </tr>
          
        </tbody>
      </table>
      <img src="https://img.freepik.com/fotos-premium/fantastica-vista-primer-plano-tranquilas-olas-mar-luz-sol-naranja-amanecer-isla-tropical_663265-3842.jpg" class="img-fluid">
    </div>
  </div>
</div>
