<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <p-toast position="top-right"/> -->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside 
  class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
  id="sidenav-main"
  style="z-index: 1 !important;"
>
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Ecografia prostatica"></app-cerrarsesion>
  <div class="container-fluid ">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <form >
              <div class="row">
                <div class="col-md-3">
                  <label>DNI *</label>
                  <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="dni_ecografia_mama"
                  >
                  <button class="btn btn-primary btn-xs" type="button">
                    <i class="fas fa-fingerprint"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-3">
                <label>Nombre</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="nombre_ecografia_mama"
                 >
              </div>
              <div class="col-md-3">
                <label>Apellidos</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="apellido_ecografia_mama"
                 >
              </div>
              <div class="col-md-1">
                <label>Edad</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="edad_ecografia_mama"
                 >
              </div>
              <div class="col-md-2">
                <label>HC</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="hc_ecografia_mama"
                 >
              </div>
              </div>
              <!-- contenido nuevo  -->
              
              <!--  -->
            </form>
            <div class="row mt-1">
              <div class="col-md-3">
                <button class="btn btn-primary btn-xs mt-2">
                  Guardar
                </button>
                <button
                  class="btn btn-danger btn-xs mt-2 mx-2"
                > <i class="fas fa-file-pdf"></i>
                  Imprimir
                </button>
              </div>
            </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- spinner -->
<!-- <div [hidden]="spinner" class="overlay z-index">
  <div class="dot-wave">
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
</div> -->
