<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <p-toast position="top-right"/> -->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside 
  class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
  id="sidenav-main"
  style="z-index: 1 !important;"
>
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Ecografia renal"></app-cerrarsesion>
  <div class="container-fluid ">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <form >
              <div class="row">
                <div class="col-md-3">
                  <label>DNI *</label>
                  <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="dni_ecografia_renal"
                  >
                  <button class="btn btn-primary btn-xs" type="button">
                    <i class="fas fa-fingerprint"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-3">
                <label>Nombre</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="nombre_ecografia_renal"
                 >
              </div>
              <div class="col-md-3">
                <label>Apellidos</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="apellido_ecografia_renal"
                 >
              </div>
              <div class="col-md-1">
                <label>Edad</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="edad_ecografia_renal"
                 >
              </div>
              <div class="col-md-2">
                <label>HC</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="hc_ecografia_renal"
                 >
                </div>
              </div>
              <!-- contenido nuevo  -->
              <div class="row mb-3">
                <div class="col-md-8">
                    <label for="motivo" class="form-label">Motivo del Examen:</label>
                    <input type="text" class="form-control form-control-sm" id="motivo" formControlName="motivo">
                </div>
                <div class="col-md-4">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="date" class="form-control form-control-sm" id="fecha" formControlName="fecha">
                </div>
            </div>
            
            <h5 class="mt-4">Hallazgos:</h5>
            <h6 class="mt-3">Riñon derecho:</h6>
        
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="morfologia_movilidad_derecho" class="form-label">Morfologia y movilidad:</label>
                    <select class="form-select form-select-sm" id="morfologia_movilidad_derecho" formControlName="morfologia_movilidad_derecho">
                        <option>Normal</option>
                        <option>Anormal</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ecogenicidad_derecho" class="form-label">Ecogenicidad:</label>
                    <select class="form-select form-select-sm" id="ecogenicidad_derecho" formControlName="ecogenicidad_derecho">
                        <option>Normal</option>
                        <option>Aumentada</option>
                        <option>Disminuida</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="medidas_longitud_derecho" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medidas</label>
                    <input type="text" class="form-control form-control-sm" id="medidas_longitud_derecho" formControlName="medidas_longitud_derecho" value="     mm de longitud">
                    </div>
                <div class="col-md-3">
                    <label for="medidas_parenquima_derecho" class="form-label">:</label>
                    <input type="text" class="form-control form-control-sm" id="medidas_parenquima_derecho" formControlName="medidas_longitud_derecho" value="     mm de parénquima">
                    </div>
                </div>
                
                <div class="row mb-3">
                <!-- Imágenes expansivas -->
                <div class="col-md-3">
                    <label for="imagenes_expansivas_solidas_derecho" class="form-label">Imágenes expansivas: Sólidas</label>
                    <select class="form-select form-select-sm" id="imagenes_expansivas_solidas_derecho" formControlName="imagenes_expansivas_solidas_derecho" >
                        <option value="No">No</option>
                        <option value="Sí">Sí</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="imagenes_expansivas_quisticas_derecho" class="form-label">Quísticas</label>
                    <select class="form-select form-select-sm" id="imagenes_expansivas_quisticas_derecho" formControlName="imagenes_expansivas_quisticas_derecho" >
                        <option value="No">No</option>
                        <option value="Sí">Sí</option>
                    </select>
                      </div>
                      <div class="col-md-3">
                        <label for="hidronefrosis_derecho" class="form-label">Hidronefrosis:</label>
                        <select class="form-select form-select-sm" id="hidronefrosis_derecho" formControlName="hidronefrosis_derecho" (change)="onhidronefrosisChange($event)">
                          <option value="No">No</option>
                          <option value="Sí">Sí</option>
                      </select>
                    </div>
                    <div class="col-md-3" *ngIf="ishidronefrosisSi">
                      <label for="medidas_hidronefrosis" class="form-label">Medidas:</label>
                      <input type="text" class="form-control form-control-sm" id="medidas_hidronefrosis" formControlName="medidas_hidronefrosis" value="     mm">
                  </div>
                </div>
               
                
              <div class="row mb-3">
                <div class="col-md-3">
                  <label for="micro_litiasis_derecho" class="form-label">Micro litiasis:</label>
                  <select class="form-select form-select-sm" id="micro_litiasis_derecho" formControlName="micro_litiasis_derecho" (change)="onmicro_litiasiChange($event)">
                    <option value="No">No</option>
                    <option value="Sí">Sí</option>
                </select>
              </div>
              <div class="col-md-3" *ngIf="ismicro_litiasiSi">
                <label for="medidas_hidronefrosis" class="form-label">Medidas:</label>
                <input type="text" class="form-control form-control-sm" id="medidas_hidronefrosis" formControlName="medidas_hidronefrosis" value="     mm">
            </div>
                
                <div class="col-md-3">
                  <label for="calculos_derecho" class="form-label">Calculos:</label>
                  <select class="form-select form-select-sm" id="calculos_derecho" formControlName="calculos_derecho" (change)="oncalculosChange($event)">
                    <option value="No">No</option>
                    <option value="Sí">Sí</option>
                </select>
                </div>
                <div class="col-md-3" *ngIf="iscalculosSi">
                  <label for="medidas_calculos_derecho" class="form-label">Medidas:</label>
                  <input type="text" class="form-control form-control-sm" id="medidas_calculos_derecho" formControlName="medidas_calculos_derecho" value="     mm"> 
              </div>
          </div>
            <div class="mb-3">
                <label for="descripcion_otros_derecho" class="form-label">Descripción/Otros:</label>
                <textarea class="form-control form-control-sm" id="descripcion_otros_derecho" formControlName="descripcion_otros_derecho" rows="3"></textarea>
            </div>
            <!-- RIÑON IZQ -->
            <h6 class="mt-4">Riñón Izquierdo:</h6>
            <div class="row mb-3">
              <div class="col-md-3">
                  <label for="morfologia_movilidad_izquierdo" class="form-label">Morfologia y movilidad:</label>
                  <select class="form-select form-select-sm" id="morfologia_movilidad_izquierdo" formControlName="morfologia_movilidad_izquierdo">
                      <option>Normal</option>
                      <option>Anormal</option>
                  </select>
              </div>
              <div class="col-md-3">
                  <label for="ecogenicidad_izquierdo" class="form-label">Ecogenicidad:</label>
                  <select class="form-select form-select-sm" id="ecogenicidad_izquierdo" formControlName="ecogenicidad_izquierdo">
                      <option>Normal</option>
                      <option>Aumentada</option>
                      <option>Disminuida</option>
                  </select>
              </div>
              <div class="col-md-3">
                  <label for="medidas_longitud_izquierdo" class="form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medidas</label>
                  <input type="text" class="form-control form-control-sm" id="medidas_longitud_izquierdo" formControlName="medidas_longitud_izquierdo" value="     mm de longitud">
                  </div>
              <div class="col-md-3">
                  <label for="medidas_parenquima_izquierdo" class="form-label">:</label>
                  <input type="text" class="form-control form-control-sm" id="medidas_parenquima_izquierdo" formControlName="medidas_longitud_izquierdo" value="     mm de parénquima">
                  </div>
              </div>
              
              <div class="row mb-3">
              
              <div class="col-md-3">
                  <label for="imagenes_expansivas_solidas_izquierdo" class="form-label">Imágenes expansivas: Sólidas</label>
                  <select class="form-select form-select-sm" id="imagenes_expansivas_solidas_izquierdo" formControlName="imagenes_expansivas_solidas_izquierdo" >
                      <option value="No">No</option>
                      <option value="Sí">Sí</option>
                  </select>
              </div>
              <div class="col-md-3">
                  <label for="imagenes_expansivas_quisticas_izquierdo" class="form-label">Quísticas</label>
                  <select class="form-select form-select-sm" id="imagenes_expansivas_quisticas_izquierdo" formControlName="imagenes_expansivas_quisticas_izquierdo" >
                      <option value="No">No</option>
                      <option value="Sí">Sí</option>
                  </select>
                    </div>
                    <div class="col-md-3">
                      <label for="hidronefrosis_izquierdo" class="form-label">Hidronefrosis:</label>
                      <select class="form-select form-select-sm" id="hidronefrosis_izquierdo" formControlName="hidronefrosis_izquierdo" (change)="onhidronefrosisChange($event)">
                        <option value="No">No</option>
                        <option value="Sí">Sí</option>
                    </select>
                  </div>
                  <div class="col-md-3" *ngIf="ishidronefrosisSi">
                    <label for="medidas_hidronefrosis" class="form-label">Medidas:</label>
                    <input type="text" class="form-control form-control-sm" id="medidas_hidronefrosis" formControlName="medidas_hidronefrosis" value="     mm">
                </div>
              </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <label for="micro_litiasis_izquierdo" class="form-label">Micro litiasis:</label>
                <select class="form-select form-select-sm" id="micro_litiasis_izquierdo" formControlName="micro_litiasis_izquierdo" (change)="onmicro_litiasiChange($event)">
                  <option value="No">No</option>
                  <option value="Sí">Sí</option>
              </select>
            </div>
            <div class="col-md-3" *ngIf="ismicro_litiasiSi">
              <label for="medidas_hidronefrosis" class="form-label">Medidas:</label>
              <input type="text" class="form-control form-control-sm" id="medidas_hidronefrosis" formControlName="medidas_hidronefrosis" value="     mm">
          </div>
              
              <div class="col-md-3">
                <label for="calculos_izquierdo" class="form-label">Calculos:</label>
                <select class="form-select form-select-sm" id="calculos_izquierdo" formControlName="calculos_izquierdo" (change)="oncalculosChange($event)">
                  <option value="No">No</option>
                  <option value="Sí">Sí</option>
              </select>
              </div>
              <div class="col-md-3" *ngIf="iscalculosSi">
                <label for="medidas_calculos_izquierdo" class="form-label">Medidas:</label>
                <input type="text" class="form-control form-control-sm" id="medidas_calculos_izquierdo" formControlName="medidas_calculos_izquierdo" value="     mm"> 
            </div>
        </div>
        <div class="mb-3">
          <label for="descripcion_otros_izquierdo" class="form-label">Descripción/Otros:</label>
          <textarea class="form-control form-control-sm" id="descripcion_otros_izquierdo" formControlName="descripcion_otros_izquierdo" rows="3"></textarea>
      </div>

      <h6 class="mt-4">Vejiga:</h6>
      <div class="row mb-3">
        <div class="col-md-3">
            <label for="repelcion_vejiga" class="form-label">Repelcion:</label>
            <select class="form-select form-select-sm" id="repelcion_vejiga" formControlName="repelcion_vejiga">
              <option>Normal</option>
              <option>Minimo</option>
              <option>Excesiva</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="paredes_vejiga" class="form-label">Paredes:</label>
            <select class="form-select form-select-sm" id="paredes_vejiga" formControlName="paredes_vejiga">
                <option>Normal</option>
                <option>Delgado</option>
                <option>Engrosaso</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="contenido_aneocoico" class="form-label">Contenido aneocoico</label>
            <select class="form-select form-select-sm" id="contenido_aneocoico" formControlName="contenido_aneocoico">
              <option>Si</option>
              <option>No</option>
          </select>
            </div>
        <div class="col-md-3">
            <label for="imagenes_expansivas_vejiga" class="form-label">Imagenes expansivas</label>
            <select class="form-select form-select-sm" id="imagenes_expansivas_vejiga" formControlName="imagenes_expansivas_vejiga">
              <option>Si</option>
              <option>No</option>
            </select>
        </div>
      </div>

        <div class="row mb-3">
        <div class="col-md-3">
            <label for="calculos_vejiga" class="form-label">Calculos en su interior</label>
            <select class="form-select form-select-sm" id="calculos_vejiga" formControlName="calculos_vejiga" >
                <option value="No">No</option>
                <option value="Sí">Sí</option>
            </select>
        </div>
          <div class="col-md-3">
              <label for="vol_pre_miccional" class="form-label">Vol.pre-miccional (cc):</label>
              <input type="text" class="form-control form-control-sm" id="vol_pre_miccional" formControlName="vol_pre_miccional">
          </div>
      
          <div class="col-md-3">
              <label for="vol_post_miccional" class="form-label">Vol.post-miccional (cc):</label>
              <input type="text" class="form-control form-control-sm" id="vol_post_miccional" formControlName="vol_post_miccional">
          </div>
      
          <div class="col-md-3">
              <label for="retencion" class="form-label">% de retención:</label>
              <input type="text" class="form-control form-control-sm" id="retencion" formControlName="retencion">
          </div>
      </div>

      <div class="mb-3">
      <label for="descripcion_otros_izquierdo" class="form-label">Descripción/Otros:</label>
      <textarea class="form-control form-control-sm" id="descripcion_otros_izquierdo" formControlName="descripcion_otros_izquierdo" rows="3"></textarea>
      </div>
      
            <div class="d-flex align-items-center mt-4">
                <h6 class="mb-0">Observaciones:</h6>
                <div class="ms-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="otra" id="otra" formControlName="observacion" (change)="onObservacionChange($event)">
                        <label class="form-check-label" for="otra">Agregar</label>
                    </div>
                </div>
            </div>
            <div class="mt-3" *ngIf="isObservacionOtra">
                <textarea class="form-control form-control-sm" id="observacion_textarea" formControlName="observacion_textarea" rows="3" placeholder="Escriba su observación"></textarea>
            </div>
            
            <h6 class="mt-4">Conclusiones:</h6>
            <div class="mb-3">
                <textarea class="form-control form-control-sm" id="conclusiones" formControlName="conclusiones" rows="3" placeholder="Escriba sus conclusiones"></textarea>
            </div>
            
              <!--  -->
            </form>
            <div class="row mt-1">
              <div class="col-md-3">
                <button class="btn btn-primary btn-xs mt-2">
                  Guardar
                </button>
                <button
                  class="btn btn-danger btn-xs mt-2 mx-2"
                > <i class="fas fa-file-pdf"></i>
                  Imprimir
                </button>
              </div>
            </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- spinner -->
<!-- <div [hidden]="spinner" class="overlay z-index">
  <div class="dot-wave">
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
</div> -->

