<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside style="z-index: 1 !important;" class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
 <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Kardex"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex ">
                <a
                  class="btn btn-success text-white btn-xs"
                  (click)="showDialog1()"
                >
                  <i class="fas fa-plus text-white"></i> Entrada
                </a>
                <a
                  class="btn btn-danger text-white btn-xs mx-2"
                  (click)="showDialog2()"
                >
                  <i class="fas fa-minus text-white"></i> Salida
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5>Movimientos de Kardex</h5>
            </div>
          </div>
          <form [formGroup]="kardexForm">
          <div class="row">
            <div class="col-md-3">
              <label>Categoria *</label>
              <select
                class="form-control form-control-sm"
                formControlName="categoria_kardex"
              >
                <option value="">SELECCIONE UNA OPCION</option>
                <option
                  *ngFor="let categoria of getCategorie"
                  [value]="categoria.id"
                >
                  {{ categoria.nombre }}
                </option>
              </select>
              <div
                  class="error"
                  *ngIf="categoriaControl.invalid && (categoriaControl.touched || categoriaControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
            </div>
            <div class="col-md-2">
              <label>Producto *</label>
              <select
                class="form-control form-control-sm"
                formControlName="producto_kardex"
              >
                <option value="">SELECCIONE UNA OPCION</option>
                <option
                  *ngFor="let product of getProduct"
                  [value]="product.id"
                >
                {{ product.descripcion }}
              </option>
              </select>
              <div
              class="error"
              *ngIf="productoControl.invalid && (productoControl.touched || productoControl.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
            </div>
            <div class="col-md-2">
              <label>Fecha Inicial *</label>
              <input
                type="date"
                class="form-control form-control-sm"
                formControlName="inicial_kardex"
              >
              <div
              class="error"
              *ngIf="inicialControl.invalid && (inicialControl.touched || inicialControl.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
            </div>
            <div class="col-md-2">
              <label>Fecha Final *</label>
              <input
                type="date"
                class="form-control form-control-sm"
                formControlName="final_kardex"
              >
              <div
              class="error"
              *ngIf="finalControl.invalid && (finalControl.touched || finalControl.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
            </div>
            <div class="col-md-3 mt-1">
              <button
                class="btn btn-primary btn-xs mt-4"
                [disabled]="kardexForm.invalid"
                (click)="getKardex()"
              >
              <i class="fas fa-search"></i> Buscar</button>
              <button
                class="btn btn-danger  btn-xs mt-4 mx-2"
                [hidden]="btnPdfHidden"

              >
                <i class="fas fa-file-pdf"
                ></i> Pdf</button>
            </div>
          </div>
        </form>
          <div class="row mt-4">
            <div class="col-md-12">
              <p-table
                  #kardex
                  [rows]="10"
                  [value]="getKarde"
                  [paginator]="true"
                  [globalFilterFields]="['nombre', 'getKarde.nombre', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="kardex.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name" class="text-xs text-white bg-default"></th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">#</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">FECHA TRANSACCIÓN</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">TIPO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">	MOTIVO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">ENTRADA</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">SALIDA</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">SALDO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getKarde>
                  <tr>
                    <td class="text-xs text-uppercase"> {{ getKarde.codigo }} </td>
                    <td class="text-xs text-uppercase"> {{ getKarde.fecha }} </td>
                    <td class="text-xs text-uppercase"> {{ getKarde.tipo }} </td>
                    <td class="text-xs text-uppercase"> {{ getKarde.motivo }} </td>
                    <td class="text-xs text-uppercase"> {{ getKarde.entrada }} </td>
                    <td class="text-xs text-uppercase"> {{ getKarde.salida }} </td>
                    <td class="text-xs text-uppercase"> {{ getKarde.saldo }} </td>
                  </tr>
                </ng-template>
               </p-table>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

    <!-- MODAL DE ENTRADA DE PRODUCTOS -->
    <p-dialog
    header="INGRESO DE PRODUCTOS A LA CLINICA"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <form [formGroup]="entradaForm">

      <div class="row">
        <div class="col-md-6">
          <label >Producto *</label>
          <select
              class="form-control form-control-sm"
              formControlName="producto_entrada">
            <option value="">SELECCIONE UNA OPCION</option>
            <option
              *ngFor="let producto of getProduct"
              [value]="producto.id"
            > {{ producto.nombre}} </option>

          </select>
          <div
              class="error"
              *ngIf="producto_entrada.invalid && (producto_entrada.touched || producto_entrada.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
        </div>
        <div class="col-md-4">
          <label >Cantidad *</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="cantidad_entrada"
          >
          <div
              class="error"
              *ngIf="cantidad_entrada.invalid && (cantidad_entrada.touched || cantidad_entrada.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
        </div>
        <div class="col-md-2">
          <label >Stock *</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="stock_entrada"
          >
          <div
              class="error"
              *ngIf="stock_entrada.invalid && (stock_entrada.touched || stock_entrada.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <label >Seccion *</label>
            <select
                class="form-control form-control-sm"
                formControlName="seccion_entrada">

              <option value="">SELECCIONE UNA OPCION</option>
              <option value="Salud madre y mujer">SEDE PRINCIPAL</option>

            </select>
            <div
              class="error"
              *ngIf="seccion_entrada.invalid && (seccion_entrada.touched || seccion_entrada.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
          </div>
          <div class="col-md-6">
            <label >Motivo de ingreso *</label>
            <select
                class="form-control form-control-sm"
                formControlName="motivo_entrada">

            <option value="">SELECCIONE UNA OPCION</option>
            <option value="Compra">Compra de Insumos</option>
            <option value="Obsequio">Obsequio Empresarial</option>
            <option value="Temporal">Ingreso Temporal</option>
          </select>
          <div
              class="error"
              *ngIf="motivo_entrada.invalid && (motivo_entrada.touched || motivo_entrada.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <label>Comentarios *</label>
              <textarea
                class="form-control"
                formControlName="comentarios_entrada"
              ></textarea>
              <div
              class="error"
              *ngIf="comentarios_entrada.invalid && (comentarios_entrada.touched || comentarios_entrada.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
            </div>
        </div>
         </form>
         <ng-template pTemplate="footer">
          <button
            class="btn btn-danger btn-sm"
          >Cancelar</button>
          <button
            class="btn btn-primary btn-sm mx-2"
            [disabled]="entradaForm.invalid"
            (click)="Creatstart()"
          > <i class="fas fa-database text-white"></i> Guardar</button>
         </ng-template>
    </p-dialog>

    <p-dialog

    header="SALIDA DE PRODUCTOS DE LA CLINICA"
    [modal]="true"
    [(visible)]="visible1"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <form [formGroup]="salidaForm">

      <div class="row">
        <div class="col-md-6">
          <label >Producto *</label>
          <select
              class="form-control form-control-sm"
              formControlName="producto_salida">
            <option value="">SELECCIONE UNA OPCION</option>
            <option
              *ngFor="let produc of getProduct"
              [value]="produc.id"
            > {{produc.nombre}} </option>
          </select>
          <div
              class="error"
              *ngIf="producto_salida.invalid && (producto_salida.touched || producto_salida.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
        </div>
        <div class="col-md-4">
          <label >Cantidad *</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="cantidad_salida"
          >
          <div
              class="error"
              *ngIf="cantidad_salida.invalid && (cantidad_salida.touched || cantidad_salida.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
        </div>
        <div class="col-md-2">
          <label >Stock *</label>
          <input
            type="number"
            class="form-control form-control-sm"
            formControlName="stock_salida"
          >
          <div
              class="error"
              *ngIf="stock_salida.invalid && (stock_salida.touched || stock_salida.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <label >Seccion *</label>
            <select
                class="form-control form-control-sm"
                formControlName="seccion_salida">

              <option value="">SELECCIONE UNA OPCION</option>
              <option value="Salud madre y mujer">SEDE PRINCIPAL</option>
            </select>
            <div
              class="error"
              *ngIf="seccion_salida.invalid && (seccion_salida.touched || seccion_salida.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
          </div>
          <div class="col-md-6">
            <label >Motivo de salida *</label>
            <select
                class="form-control form-control-sm"
                formControlName="motivo_salida">

            <option value="">SELECCIONE UNA OPCION</option>
            <option value="Gasto interno">Salida por gasto interno</option>
            <option value="Vencimiento">Salida por Vencimiento</option>
            <option value="Prestamo">Salida por Prestamo</option>
            <option value="Temporal">Salida Temporal</option>
          </select>
          <div
              class="error"
              *ngIf="motivo_salida.invalid && (motivo_salida.touched || motivo_salida.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <label>Comentarios *</label>
              <textarea
                class="form-control"
                formControlName="comentarios_salida"
              ></textarea>
              <div
              class="error"
              *ngIf="comentarios_salida.invalid && (comentarios_salida.touched || comentarios_salida.dirty)"
             >
               <p class="text-danger text-xs font-weight-bold">
                 El campo es obligatorio
               </p>
             </div>
            </div>
        </div>
         </form>
         <ng-template pTemplate="footer">
          <button
            class="btn btn-danger btn-sm"
          > Cancelar</button>
          <button
            class="btn btn-primary btn-sm mx-2"
            [disabled]="salidaForm.invalid"
            (click)="createEnd()"
          > <i class="fas fa-database text-white"></i> Guardar</button>
         </ng-template>
    </p-dialog>

