<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Colposcopia"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-row-reverse">
                <button
                  class="btn btn-primary text-white btn-xs mx-1"
                  (click)="createColposcopia()"
                >
                  <i class="fas fa-database text-white"></i> Crear
                </button>
              </div>
            </div>
          </div>
          <p-table
            #colposcopia
            [rows]="10"
            [value]="getColposcopia"
            [paginator]="true"
            [globalFilterFields]="['nombre', 'getColposcopia.nombre', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} Colposcopias"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="colposcopia.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">OPCIONES</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">INFORME</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">PACIENTE</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">FECHA</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">MEDICO</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">IMAGENES</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getColposcopia>
                  <tr>
                    <td>
                      <a class="badge bg-danger">
                        <i class="fas fa-file-pdf fa-xs text-white"></i>
                      </a>
                    </td>
                    <td class="text-xs text-uppercase">{{ getColposcopia.codigo_colposcopia }}</td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase">JERSON REINEL GALVEZ ENSUNCHO</p>
                          <p class="text-xs text-secondary mb-0 text-uppercase">{{ getColposcopia.paciente }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">{{ getColposcopia.fecha }}</td>
                    <td class="text-xs text-uppercase">{{ getColposcopia.medico }}</td>
                    <td>
                      <div>
                        <img
                          src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg"
                          class="avatar avatar-sm me-3"
                        >
                        <img
                          src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg"
                          class="avatar avatar-sm me-3"
                        >
                      </div>
                    </td>
                  </tr>
                </ng-template>
               </p-table>
        <div class="row mt-3">
          <div class="col-md-12">
            <h6>Crear Colposcopia</h6>
          </div>
        </div>
        <form [formGroup]="colposcopiasForm">
          <div class="row mt-1">
            <div class="col-md-2">
            <label>DNI *</label>
            <input
              type="number"
              class="form-control form-control-sm"
              formControlName="dni_colposcopia"
            >
          </div>
          <div class="col-md-4">
            <label>Nombre *</label>
            <input
             type="text"
             class="form-control form-control-sm"
             formControlName="nombre_colposcopia"
            >
          </div>
          <div class="col-md-2">
            <label>Fecha *</label>
            <input
              type="date"
              class="form-control form-control-sm"
              formControlName="fecha_colposcopia"
            >
          </div>
          <div class="col-md-4">
            <label>Medico *</label>
            <select
              class="form-control form-control-sm"
              formControlName="medico_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label>U.escamo columnar *</label>
            <select
              class="form-control form-control-sm"
              formControlName="escamo_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Sin lesiones</option>
              <option value="2">Epitelio Blanco</option>
              <option value="3">Mosaico</option>
              <option value="4">Puntillado</option>
              <option value="5">Leucoplasia</option>
              <option value="6">Vasos Atipicos</option>
              <option value="7">Shiler Positivo</option>
              <option value="8">Shiler Negativo</option>

            </select>
          </div>
          <div class="col-md-4">
            <label>Endo cervix *</label>
            <select
              class="form-control form-control-sm"
              formControlName="cervix_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Sin Lesiones</option>
              <option value="2">Ectopia</option>
              <option value="3">Mosaico</option>
              <option value="4">Puntillado</option>
              <option value="5">Epitelio Blanco</option>
              <option value="6">Vasos Atipicos</option>

            </select>
          </div>
          <div class="col-md-4">
            <label>Vagina *</label>
            <select
              class="form-control form-control-sm"
              formControlName="vagina_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Sin Lesiones</option>
              <option value="2">Condilomas</option>
              <option value="3">Flujo</option>
              <option value="4">Puntiadas</option>
              <option value="5">Atrofia</option>
              <option value="6">Herpes</option>
              <option value="7">Ulcera</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label>Vulva *</label>
            <select
              class="form-control form-control-sm"
              formControlName="vulva_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Sin lesiones</option>
              <option value="2">Condilomas</option>
              <option value="3">Herpes</option>
              <option value="4">Nevus</option>
              <option value="5">Ulcera</option>
              <option value="6">Lesion Roja</option>
              <option value="7">Lesion Blanca</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Perineo *</label>
            <select
              class="form-control form-control-sm"
              formControlName="perineo_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Sin Lesiones</option>
              <option value="2">Condiloma</option>

            </select>
          </div>
          <div class="col-md-4">
            <label>Region Parianal *</label>
            <select
              class="form-control form-control-sm"
              formControlName="parianal_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Sin Lesiones</option>
              <option value="2">Condiloma</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label> Biopsia *</label>
            <select
              class="form-control form-control-sm"
              formControlName="biopsia_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">No</option>
              <option value="2">Vulva</option>
              <option value="3">Vagina</option>
              <option value="4">Cervix</option>
            </select>
          </div>
          <div class="col-md-6">
            <label> Papanicolaou *</label>
            <select
              class="form-control form-control-sm"
              formControlName="papanicolaou_colposcopia"
            >
              <option value="">Seleccione una opcion</option>
              <option value="1">Si</option>
              <option value="2">No</option>

            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label>Conclusiones *</label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="conclusiones_colposcopia"
            ></textarea>
          </div>
          <div class="col-md-6">
            <label>Seleccione las imagenes *</label>
            <div class="d-flex px-2 py-1">
              <div *ngIf="previsualizacion">
                <img
                  [src]="previsualizacion"
                  class="img-fluid avatar mx-3"
                  width="100px"
                >
              </div>
              <div class="d-flex flex-column justify-content-center">
                <input
                  type="file"
                  id="img1"
                  class="form-control form-control-sm"
                  (change)="imageUpload($event)"
                >
              </div>
            </div>
            <div class="d-flex px-2 py-1">
              <div *ngIf="previsualizacion2">
                <img
                  [src]="previsualizacion2"
                  class="img-fluid avatar mx-3"
                  width="100px"
                >
              </div>
              <div class="d-flex flex-column justify-content-center">
                <input
                  type="file"
                  id="img2"
                  class="form-control form-control-sm"
                  (change)="imageUpload2($event)"
                >
              </div>
            </div>
          </div>
        </div>
      </form>
      
      </div>
      </div>
    </div>
  </div> 
