<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->


<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>

<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Pagos"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-row-reverse">
                <button
                  class="btn btn-danger text-white btn-xs mx-1"
                  (click)="generarpdfPagos()"
                >
                  <i class="fas fa-file-pdf  text-white"></i> Generar pdf
                </button>
                
              </div>
            </div>
          </div>
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <p-table
                  #pagos
                  [value]="getPayment"
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">FACTURA</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">PACIENTE</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">MEDICO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">CONCEPTO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">FECHA</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">TIPO DE PAGO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">DESCUENTO</th>
                    <th pSortableColumn="name" class="text-xs text-white bg-default">TOTAL</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getPayment>
                  <tr>
                    <td class="text-xs text-uppercase">{{ 'FA0' + getPayment.codigo_pago }}</td>
                    <td class="text-xs text-uppercase">{{ getPayment.nombre + ' ' + getPayment.apellido  }}</td>
                    <td class="text-xs text-uppercase">{{ getPayment.medico }}</td>
                    <td class="text-xs text-uppercase"> {{ getPayment.descripcion }}</td>
                    <td class="text-xs text-uppercase">{{ getPayment.fecha }}</td>
                    <td class="text-xs text-uppercase">{{ getPayment.tipo_deposito }}</td>
                    <td class="text-xs text-uppercase">{{ getPayment.descuento }}</td>
                    <td class="text-xs text-uppercase">{{ getPayment.total }}</td>
                  </tr>
                </ng-template>
               </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

