<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Productos"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row">
      <div class="card">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="table-responsive">
                <p-table
                  #producto
                  [rows]="5"
                  [value]="getProduct"
                  [paginator]="true"
                  [globalFilterFields]="['nombre', 'getProduct.nombre', 'categoria', 'getProduct.categoria']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="producto.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name" class="text-xs text-white bg-default"></th>
                      <th class="text-xs text-white bg-default">COD</th>
                      <th pSortableColumn="nombre" class="text-xs text-white bg-default">NOMBRE</th>
                      <th pSortableColumn="categoria" class="text-xs text-white bg-default">CATEGORIA</th>
                      <th class="text-xs text-white bg-default">VALOR</th>
                      <th class="text-xs text-white bg-default">CANT</th>
                      <th class="text-xs text-white bg-default">STOCK</th>
                  </tr>
                </ng-template>r
                <ng-template pTemplate="body" let-getProduct>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadioDefault"
                          id="flexRadioDefault1"
                          (change)="pasarDatosForm(
                            getProduct.categoria,
                            getProduct.nombre,
                            getProduct.codigo,
                            getProduct.codigo_barras,
                            getProduct.medida,
                            getProduct.cantidad,
                            getProduct.precio,
                            getProduct.moneda,
                            getProduct.descripcion
                            )"
                        >
                      </div>
                    </td>
                    <td class="text-xs text-uppercase"> {{ getProduct.codigo }}</td>
                    <td class="text-xs text-uppercase"> {{ getProduct.nombre }}</td>
                    <td class="text-xs text-uppercase"> {{ getProduct.categoria }}</td>
                    <td class="text-xs text-uppercase"> {{ getProduct.precio }}</td>
                    <td class="text-xs text-uppercase"> {{ getProduct.cantidad }}</td>
                    <td class="text-xs text-uppercase"> {{ getProduct.stock }}</td>
                  </tr>
                </ng-template>
               </p-table>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row mt-3">
                <div class="col-md-12">
                  <h6>AGREGAR PRODUCTO</h6>
              </div>
              <form [formGroup]="productosForm">
              <div class="row mt-1">
                <div class="col-md-6">
                  <label>Categoria *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    formControlName="categoria_productos"
                  >
                  <option value="">Seleccione una opcion</option>
                  <option
                    *ngFor="let categoria of getCategorie"
                    [value]="categoria.codigo_categoria"
                  >
                    {{  categoria.nombre  }}
                  </option>

                  </select>
                  <div
               class="error"
               *ngIf="categoriaControl.invalid && (categoriaControl.touched || categoriaControl.dirty)"
              >
                <p class="text-danger text-xs font-weight-bold">
                  El campo es obligatorio
                </p>
              </div>
                </div>
                <div class="col-md-6">
                  <label>Nombre *</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="nombre_productos"
                  >
                  <div
                  class="error"
                  *ngIf="nombreControl.invalid && (nombreControl.touched || nombreControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-6">
                  <label>Codigo *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="codigo_productos"
                  >
                  <div
                  class="error"
                  *ngIf="codigoControl.invalid && (codigoControl.touched || codigoControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
                </div>
                <div class="col-md-6">
                  <label>Codigo de Barras</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="barras_productos"
                  >
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-6">
                  <label>Unidad Medida *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    aria-label="Default select example"
                    formControlName="medida_productos"
                  >
                    <option value="">Seleccione una opcion</option>
                    <option value="Unidades">unidades</option>

                  </select>
                  <div
                  class="error"
                  *ngIf="medidasControl.invalid && (medidasControl.touched || medidasControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
                </div>
                <div class="col-md-6">
                  <label>Cantidad *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="cantidad_productos"
                  >
                  <div
                  class="error"
                  *ngIf="cantidadControl.invalid && (cantidadControl.touched || cantidadControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-6">
                  <label>Precio por Unidad *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="precio_productos"
                  >
                  <div
                  class="error"
                  *ngIf="precioControl.invalid && (precioControl.touched || precioControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
                </div>
                <div class="col-md-6">
                  <label>Moneda *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    aria-label="Default select example"
                    formControlName="moneda_productos"
                  >
                    <option value="PEN">Soles (/s) *</option>
                  </select>
                  <div
                  class="error"
                  *ngIf="monedaControl.invalid && (monedaControl.touched || monedaControl.dirty)"
                 >
                   <p class="text-danger text-xs font-weight-bold">
                     El campo es obligatorio
                   </p>
                 </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-12">
                  <label>Descripción</label>
                    <textarea
                      class="form-control"
                      formControlName="descripcion_productos"
                    ></textarea>
                  </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    [hidden]="btnAgregarHidden"
                    [disabled]="productosForm.invalid"
                    (click)="createProduct()"
                    >
                    Guardar
                  </button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
