<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside 
  class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
  id="sidenav-main"
  style="z-index: 1 !important;"
>
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Ecografia arterial"></app-cerrarsesion>
  <div class="container-fluid ">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="ecografiaarterialForm">
              <div class="row">
                <div class="col-md-3">
                  <label>DNI *</label>
                  <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="dni_ecografia_arterial"
                    (keyup.enter)="buscarPacientes()"
                  >
                  <button class="btn btn-primary btn-xs" type="button">
                    <i class="fas fa-fingerprint"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-3">
                <label>Nombre</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="nombre_ecografia_arterial"
                 >
              </div>
              <div class="col-md-3">
                <label>Apellidos</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="apellido_ecografia_arterial"
                 >
              </div>
              <div class="col-md-1">
                <label>Edad</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="edad_ecografia_arterial"
                 >
              </div>
              <div class="col-md-2">
                <label>HC</label>
                <input
                   type="text"
                   class="form-control form-control-sm"
                   formControlName="hc_ecografia_arterial"
                 >
              </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-8">
                    <label for="motivo" class="form-label">Motivo del Examen:</label>
                    <input type="text" class="form-control form-control-sm" id="motivo" formControlName="motivo">
                </div>
                <div class="col-md-4">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="date" class="form-control form-control-sm" id="fecha" formControlName="fecha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <h6>MIEMBRO INFERIOR <span style="color: green;">DERECHO</span>:</h6>
                    <textarea class="form-control" id="descripcionProcedimiento" rows="3">PLACAS ATEROMATOSAS EN TIBIAL ANTERIOR DISTAL Y PEDIA.</textarea>
                </div>
            </div>

                <form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Arteria</th>
                                <th>VPS</th>
                                <th>ONDA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>F. Común</td>
                                <td><input type="text" class="form-control form-control-sm" name="vps_fc" value="65"></td>
                                <td><input type="text" class="form-control form-control-sm" name="onda_fc" value="Bifásica"></td>
                            </tr>
                            <tr>
                                <td>F. Superficial</td>
                                <td><input type="text" class="form-control form-control-sm" name="vps_fs" value="60"></td>
                                <td><input type="text" class="form-control form-control-sm" name="onda_fs" value="Bifásica"></td>
                            </tr>
                            <tr>
                                <td>Poplitea</td>
                                <td><input type="text" class="form-control form-control-sm" name="vps_poplitea" value="45"></td>
                                <td><input type="text" class="form-control form-control-sm" name="onda_poplitea" value="Bifásica"></td>
                            </tr>
                            <tr>
                                <td>Tibial Posterior</td>
                                <td><input type="text" class="form-control form-control-sm" name="vps_tp" value="40"></td>
                                <td><input type="text" class="form-control form-control-sm" name="onda_tp" value="Bifásica"></td>
                            </tr>
                            <tr>
                                <td>Tibial Anterior</td>
                                <td><input type="text" class="form-control form-control-sm" name="vps_ta" value="40-42"></td>
                                <td><input type="text" class="form-control form-control-sm" name="onda_ta" value="Bifásica"></td>
                            </tr>
                            <tr>
                                <td>Media</td>
                                <td><input type="text" class="form-control form-control-sm" name="vps_media" value="38"></td>
                                <td><input type="text" class="form-control form-control-sm" name="onda_media" value="Bifásica"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <h6>MIEMBRO INFERIOR <span style="color: rgb(128, 15, 0);">IZQUIERDA</span>:</h6>
                        <textarea class="form-control form-control-sm" id="descripcionProcedimiento" rows="3">PLACAS ATEROMATOSA A PREDOMINIO DE PIERNA.</textarea>
                    </div>
                </div>
    
                    <form>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Arteria</th>
                                    <th>VPS</th>
                                    <th>ONDA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>F. Común</td>
                                    <td><input type="text" class="form-control form-control-sm" name="vps_fc" value="60"></td>
                                    <td><input type="text" class="form-control form-control-sm" name="onda_fc" value="Bifásica"></td>
                                </tr>
                                <tr>
                                    <td>F. Superficial</td>
                                    <td><input type="text" class="form-control form-control-sm" name="vps_fs" value="50"></td>
                                    <td><input type="text" class="form-control form-control-sm" name="onda_fs" value="Bifásica"></td>
                                </tr>
                                <tr>
                                    <td>Poplitea</td>
                                    <td><input type="text" class="form-control form-control-sm" name="vps_poplitea" value="35"></td>
                                    <td><input type="text" class="form-control form-control-sm" name="onda_poplitea" value="Bifásica"></td>
                                </tr>
                                <tr>
                                    <td>Tibial Posterior</td>
                                    <td><input type="text" class="form-control form-control-sm" name="vps_tp" value="35"></td>
                                    <td><input type="text" class="form-control form-control-sm" name="onda_tp" value="Bifásica"></td>
                                </tr>
                                <tr>
                                    <td>Tibial Anterior</td>
                                    <td><input type="text" class="form-control form-control-sm" name="vps_ta" value="38"></td>
                                    <td><input type="text" class="form-control form-control-sm" name="onda_ta" value="Bifásica"></td>
                                </tr>
                                <tr>
                                    <td>Media</td>
                                    <td><input type="text" class="form-control form-control-sm" name="vps_media" value="35"></td>
                                    <td><input type="text" class="form-control form-control-sm" name="onda_media" value="Bifásica"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
            
            <div class="form-group">
                <label for="conclusiones">Conclusiones:</label>
                <textarea class="form-control form-control-sm" id="conclusiones" rows="2" placeholder="Ingrese conclusiones"></textarea>
            </div>
            <div class="form-group">
                <label for="sugerencias">Sugerencias:</label>
                <textarea class="form-control form-control-sm" id="sugerencias" rows="2" placeholder="Ingrese sugerencias"></textarea>
            </div>
              <div class="row mt-1">
                <div class="col-md-3">
                  <button class="btn btn-primary btn-xs mt-2">
                    Guardar
                  </button>
                  <button
                    class="btn btn-danger btn-xs mt-2 mx-2"
                  > <i class="fas fa-file-pdf"></i>
                    Imprimir
                  </button>
                </div>
              </div>
            </form>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- spinner -->
<!-- <div [hidden]="spinner" class="overlay z-index">
  <div class="dot-wave">
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
</div> -->


