<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Finanzas"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-6">
              <h6>Especialidades</h6>
              <div class="table-responsive">
                <p-table
                  #dt
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name" class="text-xs text-white bg-default"></th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">NOMBRE</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">PRECIO</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">COMISION</th>
                      <th pSortableColumn="name" class="text-xs text-white bg-default">ESTADO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                </ng-template>
               </p-table>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Laboratorio</h6>
              <div class="table-responsive">
                <p-table
                  #dt
                  [rows]="10"
                  [paginator]="true"
                  [globalFilterFields]="['namee', 'country.name', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="namee" class="text-xs text-white bg-default"></th>
                    <th pSortableColumn="namee" class="text-xs text-white bg-default">NOMBRE</th>
                    <th pSortableColumn="namee" class="text-xs text-white bg-default">PRECIO</th>
                    <th pSortableColumn="namee" class="text-xs text-white bg-default">COMISION</th>
                    <th pSortableColumn="namee" class="text-xs text-white bg-default">ESTADO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                </ng-template>
               </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
