<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-1 border-radius-xl my-3 fixed-start ms-4 " style="z-index: 1 !important;" id="sidenav-main">
 <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Reportes"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <!--  -->
      </div>
    </div>
  </div>



