<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Laboratorio"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-7">
              <p-table
                  #laboratorio
                  [rows]="5"
                  [value]="getLaboratories"
                  [paginator]="true"
                  [globalFilterFields]="['codigo', 'getLaboratories.codigo', 'nombre', 'getLaboratories.nombre']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="laboratorio.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-xs text-white bg-default" style="width:2%"></th>
                    <th pSortableColumn="codigo" class="text-xs text-white bg-default"style="width:3%">#</th>
                    <th pSortableColumn="nombre" class="text-xs text-white bg-default" style="width:30%">ANALISIS</th>
                    <th class="text-xs text-white bg-default" style="width:50%">PRECIO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getLaboratories>
                  <tr>
                    <td>
                      <button 
                        class="btn btn-success btn-xs"
                        (click)="setDataArrayLaboratory(getLaboratories.codigo,getLaboratories.nombre,getLaboratories.precio)"
                        [disabled]="laboratorioForm.invalid"
                      >
                        <i class="fas fa-check fa-xs text-white"></i>
                    </button>
                    </td>
                    <td class="text-xs text-uppercase">{{ getLaboratories.codigo }}</td>
                    <td class="text-xs text-uppercase">{{ getLaboratories.nombre }}</td>
                    <td class="text-xs text-uppercase">{{ getLaboratories.precio }}</td>
                  </tr>
                </ng-template>
               </p-table>
               
            </div>
            <div class="col-md-5">
              <form [formGroup]="laboratorioForm">
              <div class="row">
                <div class="col-md-5">
                  <label>DNI *</label>
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      formControlName="dni_laboratorio"
                      (keyup.enter)="getPacientesId()"
                    >
                    <button class="btn btn-primary btn-xs" type="button">
                      <i class="fas fa-fingerprint"></i>
                    </button>
                 </div>
                </div>
                <div class="col-md-7">
                  <label>Nombre Paciente *</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="nombre_laboratorio"
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <label>Doctor *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    formControlName="doctor_laboratorio"
                  >
                    <option value="">Seleccione una opcion</option>
                    <option
                      *ngFor="let doctor of getDoctors"
                      [value]="doctor.codigo_doctor"
                    >
                    {{ doctor.nombre }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Fecha *</label>
                  <input
                     type="date"
                    class="form-control form-control-sm"
                    formControlName="fecha_laboratorio"
                  >
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label>Tipo Pago *</label>
                  <select
                    class="form-control form-control-sm text-uppercase"
                    formControlName="Efectivo_laboratorio"
                  >
                    <option value="0">Efectivo</option>
                    <option value="1">Tarjeta</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label>Observación</label>
                  <textarea
                    class="form-control form-control-sm"
                    formControlName="observacion_laboratorio"
                  ></textarea>
                </div>
              </div>
              <div class="row mt-1">
                <div
                  class="col-md-12 mt-3"
                  *ngFor="let laboratory of laboratoryVenta"
                >
                  <p-chip 
                    label= "{{ laboratory.analisis }}" 
                    image="assets/img/laboratorio.png" 
                    alt="Avatar image"
                    (dblclick)="clickanalisis()"
                    [removable]="false" 
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-2 mt-2">
                  <button
                    class="btn btn-primary btn-xs mt-4"
                    [disabled]="laboratorioForm.invalid"
                    
                  >
                    Registrar
                  </button>
                </div>
                <div class="col-md-6 offset-md-4">
                  <label>TOTAL DE LOS ANALISIS *</label>
                  <input
                     type="text"
                    class="form-control form-control-sm"
                    formControlName="total_laboratorio"
                  >
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

